@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
    background: #1d1d1d;
}
header{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #fff;
    position: sticky;
    top: 0;
    background: #1d1d1d;

}
header a{
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}
h1{
    margin:  1rem;
    
}
#grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.photo img {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 550px;
}
.photo p{
    margin-top: 20px;
    padding: 20px 0 20px 0;
    border: 1px solid white;
    max-width: 900px;
    text-align: center;
}
.mobile_icon{
    display: none;
}
#add_new_photo{
    position: fixed;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(29, 29, 29, .5);
    display: none;
}
.close_icon{
    display: none;
}
#add_new_photo.open{
    display: flex;
}
#add_new_photo div{
    width: 80%;
    border: 2px solid #1d1d1d;
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
}
#add_new_photo input{
    padding: .5rem;
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}
#add_new_photo input.error{
    border-color: red;
}
#add_new_photo button{
    font-family: "Montserrat", sans-serif;
    padding: .5rem;
}
#popup_photo{
    position: fixed;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(29, 29, 29, .5);
    display: none;
}
#popup_photo.open{
    display: flex;
}
#popup_photo img{
    max-width: 90%;
    max-height: 90%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: fit-content;
    margin-top: 140px;
    gap: 20px;
    input{
        width: 200px;
        height: 30px;
        font-size: 20px;
        box-shadow: 0 0 5px 0 #333333;
        border-radius: 15px;
        border:1px solid black;
        padding-left: 10px;
    }
    button{
        width: 218px;
        height: 30px;
        box-shadow: 0 0 5px 0 #333333;
        border-radius: 15px;
        border:1px solid black;

    }
}