
@media screen and (max-width: 515px) {
    header {
        height: auto;
    }
    header a {
        display: none;
    }
    .mobile_icon{
        display: block;
        width: 2rem;
        height: 2rem;
        background: #fff;
        padding: .5rem;
        border-radius: 5px;
        margin: 1rem;
        margin-left: auto;
    }
    .mobile_icon img{
        width: 100%;
    }
    .popup{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background: rgba(255, 255, 255, .8);
        
    }
    header.open .popup a{
        display: block;
        text-align: center;
        color: black;
        margin: 10px 0;
    }
    #grid {
        grid-template-columns: 1fr;
    }
    /* Стили CSS */
/* ... */
.mobile_icon, .close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px; /* Задаем одинаковую ширину для иконок */
    height: 24px; /* Задаем одинаковую высоту для иконок */
    cursor: pointer;
}

.mobile_icon img, .close_icon img {
    width: 100%; /* Растягиваем изображения на всю ширину контейнера */
    height: 100%; /* Растягиваем изображения на всю высоту контейнера */
}

}
